<footer class="footer mt-auto py-3">
  <p class="text-muted text-center">Made by 
    <a href="https://www.linkedin.com/in/mulkyasa/"
    target="_blank"
    class="text-muted">
      Yasa Mulky Al Afgani
    </a>
    <span class="iconic-sm iconic-social-linkedin" title="social linkedin" aria-hidden="true"></span>
</footer>
<script
  src="../../javascripts/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script>
  window.jQuery ||
    document.write(
      '<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>'
    );
</script>
<script
  src="../../javascripts/bootstrap.bundle.min.js"
  integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
  crossorigin="anonymous"
></script>
<script src="../../javascripts/popper.min.js"></script>
<script src="../../javascripts/bootstrap.min.js"></script>

<!-- Icons -->
<script src="../../javascripts/feather.min.js"></script>
<script>
  feather.replace();
</script>
</body>
</html>