<%- include("_header") %>
<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a
      class="navbar-brand"
      href="/projects"
      >PMS</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item <%= url == 'projects' ? 'active' : '' %>">
          <a
            class="nav-link"
            href="/projects"
            >Projects <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item <%= url == 'profile' ? 'active' : '' %>">
          <a
            class="nav-link"
            href="/profile"
            >Profile</a
          >
        </li>
        <li class="nav-item <%= url == 'users' ? 'active' : '' %>">
          <a
            class="nav-link"
            href="/users"
            >Users</a
          >
        </li>
      </ul>
        <a href="/logout">
          <button type="button" class="btn btn-secondary btn-sm">Sign out</button>
        </a>
      </form>
    </div>
  </div>
</header>