<!DOCTYPE html>
<html>
  <head>
    <title>Projects</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <div class="container">
      <h1>Welcome,</h1>
      <p><%= user.firstname + " " + user.lastname %></p>
      <a href="/logout">Logout</a>
    </div>
  </body>
</html>
