<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Jekyll v3.8.6" />
    <title>PMS · <%= title %></title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/4.4/examples/sign-in/"
    />

    <!-- Bootstrap core CSS -->
    <link
      href="../stylesheets/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="../stylesheets/signin.css" rel="stylesheet" />
  </head>
  <body class="text-center">
    <div class="container">
      <form class="form-signin" action="/login" method="POST">
        <div class="card">
          <div
            class="jumbotron bg-cover mb-3 text-white"
          >
            <h1 class="display-4">Sign in to</h1>
            <h1 class="h6 mb-4 font-weight-normal">
              Projects Management System
            </h1>
          </div>
          <div class="card-body">
            <label for="inputEmail" class="sr-only">Email address</label>
            <input
              type="email"
              id="inputEmail"
              name="email"
              class="form-control"
              placeholder="Email address"
              required=""
              autofocus=""
            />
            <label for="inputPassword" class="sr-only">Password</label>
            <input
              type="password"
              id="inputPassword"
              name="password"
              class="form-control"
              placeholder="Password"
              required=""
            />
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me" /> Remember me
              </label>
            </div>
            <% if(loginMessage.length > 0) { %>
            <div class="alert alert-danger" role="alert">
              <%= loginMessage %>
            </div>
            <% }; %>

            <button class="btn btn-lg btn-dark btn-block" type="submit">
              Sign in
            </button>

            <button type="button" class="btn btn-block btn mt-1" data-toggle="modal" data-target="#staticBackdrop">
              Credential demo account
            </button>

            <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog"
              aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Credential Demo Account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body text-left">
                    <strong>Admin</strong> <br>
                    Email Address &emsp; : admin@demo.dev <br>
                    Password&emsp; &emsp; &emsp;: 010203 <br>
                    <br>
                    <strong>User</strong> <br>
                    Email Address &emsp; : user@demo.dev <br>
                    Password&emsp; &emsp; &emsp;: 010203
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <p class="mt-5 mb-3 text-muted">© 2020</p>
      </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
  </body>
</html>
